# 숫자형

In [1]:
a = 123
a

123

In [2]:
b = 3.14
b

3.14

In [4]:
a = 0o10
b = 0x10
a,b

(8, 16)

In [6]:
a = 3
b = 7
a+b, a-b, a*b, a/b, a%b

(10, -4, 21, 0.42857142857142855, 3)

In [7]:
2**10

1024

## 문제 1

홍길동의 시험 점수가 다음과 같을 때, 총점과 평균을 구하세요.

국어 : 80, 수학 : 75, 영어 : 95

## 문제 2

주어진 자연수 정수가 홀수인지 짝수인지 판별하세요.

예) n = 10일때, n은 짝수

# 문자형

In [9]:
a = 'Hello Python World'
a

'Hello Python World'

In [10]:
b = "Hello Python World"
b

'Hello Python World'

In [11]:
c = "Hello 
Python World"

SyntaxError: EOL while scanning string literal (<ipython-input-11-1aa375e3e430>, line 1)

In [13]:
c = """Hello 
Python World"""
c

'Hello \nPython World'

In [14]:
print(c)

Hello
Python World

In [15]:
d = 'I'am a boy'
d

SyntaxError: invalid syntax (<ipython-input-15-62b20e9cc5d3>, line 1)

In [16]:
d = "I'am a boy"
d

"I'am a boy"

In [18]:
e = "he say "Python is very easy"
e

SyntaxError: invalid syntax (<ipython-input-18-a1d9fe23c1c3>, line 1)

In [19]:
e = 'he say "Python is very easy'
e

'he say "Python is very easy'

In [22]:
f = "he say \"python is very easy\" "
f

'he say "python is very easy" '

In [24]:
str1 = "Python"
str2 = " is easy"
str1+str2

'Python is easy'

In [26]:
str1 = "OSD" * 10
str1

'OSDOSDOSDOSDOSDOSDOSDOSDOSDOSD'

In [27]:
message = "20181126,홍길동,20세,남"

In [29]:
message[0]

'2'

In [30]:
message[-1]

'남'

In [32]:
message[0:8]

'20181126'

In [34]:
message[9:12]

'홍길동'

In [37]:
message[13:16]

'20세'

In [38]:
message[17:]

'남'

In [39]:
"Hello, My name is %s" % "배기민"

'Hello, My name is 배기민'

In [40]:
"%d is Even " % (20)

'20 is Even '

In [41]:
"Today is %s, I visited %d times." % ("20181126", 1)

'Today is 20181126, I visited 1 times.'

In [42]:
"%10s" % "hello"

'     hello'

In [43]:
"%-10s" % "hello"

'hello     '

In [45]:
"%.4f" % 3.141592

'3.1416'

In [46]:
"Today is {0}, I visited {1} times.".format("20181126", 1)

'Today is 20181126, I visited 1 times.'

In [47]:
"Today is {date}, I visited {count} times.".format(date="20181126", count=1)

'Today is 20181126, I visited 1 times.'

In [48]:
a = "Hello"
a.count("l")

2

In [50]:
a = "Python is bery easy"
a.find("P"), a.find("f")

(0, -1)

In [51]:
a = "Python is bery easy"
a.index("P"), a.index("f")

ValueError: substring not found

In [52]:
a = ","
a.join("abcde")

'a,b,c,d,e'

In [53]:
",".join(['1','2','3','4','5'])

'1,2,3,4,5'

In [54]:
a = "hi"
a.upper()

'HI'

In [55]:
a = "HI"
a.lower()

'hi'

In [56]:
a = "  hi  "
a.lstrip()

'hi  '

In [57]:
a = "  hi  "
a.rstrip()

'  hi'

In [58]:
a = "  hi  "
a.strip()

'hi'

In [59]:
a = "Python is easy"
a.replace("easy", "to hard")

'Python is to hard'

In [60]:
a = "Python is to hard"
a.split()

['Python', 'is', 'to', 'hard']

In [61]:
a = "2018-11-26"
a.split("-")

['2018', '11', '26']

## 문제 1
다음과 같은 문자열을 출력하시오.

```
Life is too short
You need Python
```

## 문제 2
다음 주민등록번호에서 년,월,일,성별을 출력하시오.

```
881120-1068234
```

In [62]:
a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [64]:
b = [1,"a",[1,2,3]]
b

[1, 'a', [1, 2, 3]]

In [65]:
b[0], b[1], b[2]

(1, 'a', [1, 2, 3])

In [66]:
b[2][0], b[2][1], b[2][2]

(1, 2, 3)

In [67]:
a + b

[1, 2, 3, 4, 5, 1, 'a', [1, 2, 3]]

In [68]:
a * 2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [69]:
a[0] = 10
a

[10, 2, 3, 4, 5]

In [70]:
del [a[-1]]
a

[10, 2, 3, 4]

In [71]:
a = []
a.append(1)
a

[1]

In [73]:
a = [1,4,3,2]
a.sort()
a

[1, 2, 3, 4]

In [75]:
a = ["z", "a", "c"]
a.sort()
a

['a', 'c', 'z']

In [76]:
a = ["z", "a", "c"]
a.reverse()
a

['c', 'a', 'z']

In [77]:
a = [1,2,3]
a.index(2)

1

In [78]:
a = [1,2,3]
a.index(0)

ValueError: 0 is not in list

In [80]:
a = [1,2,3,1,2,3,1,2,3]
a.remove(1)
a

[2, 3, 1, 2, 3, 1, 2, 3]

In [82]:
a = [1,2,3,1,2]
a.count(1)

2

## 문제 1
다음의 리스트를 내림차순으로 정렬하세요.

```
[5,1,2,4,7,8,6,3,9,10]
```

# 튜플

In [83]:
a = (1,2,3)
a

(1, 2, 3)

In [84]:
a[0]

1

In [85]:
a[0] = 10

TypeError: 'tuple' object does not support item assignment

# 딕셔너리

In [86]:
dic = {"name":"KIM","phone":"010-1234-1234","brith":"20001010"}
dic

{'name': 'KIM', 'phone': '010-1234-1234', 'brith': '20001010'}

In [87]:
dic["name"]

'KIM'

In [88]:
dic.keys()

dict_keys(['name', 'phone', 'brith'])

In [89]:
dic.values()

dict_values(['KIM', '010-1234-1234', '20001010'])

In [90]:
dic.items()

dict_items([('name', 'KIM'), ('phone', '010-1234-1234'), ('brith', '20001010')])

In [91]:
dic.get("name")

'KIM'

In [93]:
"name" in dic

True

In [94]:
"email" in dic

False

## 문제1 
다음 표를 딕셔너리로 만드시오.
```
a = {'A':90, 'B':80, 'C':70}
```

## 문제2
다음의 딕셔너리에서 최소 값을