# 조건문

In [2]:
a = 10

if a % 2 == 0:
    print("짝수")

짝수

In [3]:
a = 9

if a % 2 == 0:
    print("짝수")
else:
    print("홀수")

홀수

In [4]:
a = input("> ")

if a % 2 == 0:
    print("짝수")
else:
    print("홀수")

> 9

TypeError: not all arguments converted during string formatting

# if-else 구조

```
if 조건문:
    수행할 문장1
    수행할 문장2
    ...
else:
    수행할 문장A
    수행할 문장B
    ...
```

In [5]:
1 > 2

False

In [6]:
1 < 2

True

In [7]:
1 == 2

False

In [8]:
1 != 2

True

In [9]:
1 >= 2

False

In [10]:
1 <= 2

True

In [11]:
1 in [1,2,3,4,5]

True

In [12]:
1 not in [1,2,3,4,5]

False

In [13]:
score = 98

if score >= 90:
    print('A')

if score >= 80:
    print('B')

if score >= 70:
    print('C')

if score >= 60:
    print('D')

if score < 60:
    print('F')

A
B
C
D

# if-elif-else 구조
```
If <조건문>:
    <수행할 문장1> 
    <수행할 문장2>
    ...
elif <조건문>:
    <수행할 문장1>
    <수행할 문장2>
    ...
elif <조건문>:
    <수행할 문장1>
    <수행할 문장2>
    ...
...
else:
   <수행할 문장1>
   <수행할 문장2>
   ... 
```

In [14]:
score = 98

if score >= 90:
    print('A')

elif score >= 80:
    print('B')

elif score >= 70:
    print('C')

elif score >= 60:
    print('D')

elif score < 60:
    print('F')

A

In [16]:
if score >= 60:
    message = "success"
else:
    message = "failure"

print(message)

success

In [17]:
message = "success" if score >= 60 else "failure"
print(message)

success

# 문제1
홍길동씨는 n원 돈을 가지고 있다고 한다.
홍길동씨는 택시를 타고 목적지까지 가려고 한다.
목적지까지 가기 위해서는 4,000원 이상의 현금을 가지고 있어야 한다고 한다. 
홍길동씨는 택시를 탈 수 있는지를 판별할 수 있는 조건식을 작성하고 그 결과를 출력하시오.

홍길동씨가 소유한 금액은 입력 함수를 통해 주어진다.


# 문제2
홍길동씨의 행운권 번호는 23번 이라고 한다. 다음은 행운권 당첨번호 리스트이다.
당첨은 모든 번호가 일치하는 경우이다.
```
lucky_list = [1, 9, 23, 46]
```

홍길동씨가 당첨되었다면 “당첨”이라는 문자열을 출력하는 프로그램을 작성하시오.


# 문제3
다음 문자열을 분석하여 나이가 30미만이고 키가 175이상인 경우에는 YES를 출력하고 아닌 경우에는 NO를 출력하는 프로그램을 작성하시오.
```
나이:30,키:180
```

# while 반복문

## 기본구조
```
while <조건문>:
    <수행할 문장1>
    <수행할 문장2>
    <수행할 문장3>
    ...
```

In [18]:
i = 0

while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [19]:
info = """
1. Add
2. Del
3. List
4. Quit
"""
number = 0

while number != "4":
    print(info)
    number = input("> ")

1. Add
2. Del
3. List
4. Quit

> 3

1. Add
2. Del
3. List
4. Quit

> 2

1. Add
2. Del
3. List
4. Quit

> 1

1. Add
2. Del
3. List
4. Quit

> 4

In [20]:
coffee = 10

money = 1000

while money:
    print("결제를 할 수 있습니다. 커피를 지급합니다.")
    coffee = coffee - 1
    print("잔여 커피 %d" % coffee)
    
    if not coffee:
        print("잔여 커피가 없습니다.")
        break

결제를 할 수 있습니다. 커피를 지급합니다.
잔여 커피 9
결제를 할 수 있습니다. 커피를 지급합니다.
잔여 커피 8
결제를 할 수 있습니다. 커피를 지급합니다.
잔여 커피 7
결제를 할 수 있습니다. 커피를 지급합니다.
잔여 커피 6
결제를 할 수 있습니다. 커피를 지급합니다.
잔여 커피 5
결제를 할 수 있습니다. 커피를 지급합니다.
잔여 커피 4
결제를 할 수 있습니다. 커피를 지급합니다.
잔여 커피 3
결제를 할 수 있습니다. 커피를 지급합니다.
잔여 커피 2
결제를 할 수 있습니다. 커피를 지급합니다.
잔여 커피 1
결제를 할 수 있습니다. 커피를 지급합니다.
잔여 커피 0
잔여 커피가 없습니다.

In [21]:
coffee = 10
while True:
    money = int(input("돈을 넣어 주세요: "))
    if money == 300:
        print("커피를 줍니다.")
        coffee = coffee -1
    elif money > 300:
        print("거스름돈 %d를 주고 커피를 줍니다." % (money -300))
        coffee = coffee -1
    else:
        print("돈을 다시 돌려주고 커피를 주지 않습니다.")
        print("남은 커피의 양은 %d개 입니다." % coffee)
    if not coffee:
        print("커피가 다 떨어졌습니다. 판매를 중지 합니다.")
        break

돈을 넣어 주세요: 1000
거스름돈 700를 주고 커피를 줍니다.
돈을 넣어 주세요: 200
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 9개 입니다.
돈을 넣어 주세요: 1000
거스름돈 700를 주고 커피를 줍니다.
돈을 넣어 주세요: 1000
거스름돈 700를 주고 커피를 줍니다.
돈을 넣어 주세요: 1000
거스름돈 700를 주고 커피를 줍니다.
돈을 넣어 주세요: 1000
거스름돈 700를 주고 커피를 줍니다.
돈을 넣어 주세요: 100
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 5개 입니다.
돈을 넣어 주세요: 100
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 5개 입니다.
돈을 넣어 주세요: 1254
거스름돈 954를 주고 커피를 줍니다.
돈을 넣어 주세요: 500
거스름돈 200를 주고 커피를 줍니다.
돈을 넣어 주세요: 600
거스름돈 300를 주고 커피를 줍니다.
돈을 넣어 주세요: 700
거스름돈 400를 주고 커피를 줍니다.
돈을 넣어 주세요: 800
거스름돈 500를 주고 커피를 줍니다.
커피가 다 떨어졌습니다. 판매를 중지 합니다.

In [22]:
 a = 0
while a < 10:
    a = a+1
    if a % 2 == 0: continue
    print(a)

1
3
5
7
9

# 문제 1
1부터 100까지의 자연수를 모두 더하고 그 결과를 출력하시오.

# 문제 2
1부터 1000까지의 자연수 중 3의 배수의 합을 구하시오.

# 문제 3
다음은 A학급 학생의 점수를 나타내는 리스트이다. 다음 리스트에서 50점 이상의 점수들의 총합을 구하시오.
```
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
```

# 문제 4
다음과 같이 출력하시오.
```
*
**
***
****
```

# 문제 5
다음과 같이 출력하시오.
```
****
***
**
*
```

# 문제 6

구구단을 출력하시오.

##### 예시
```
2X1=2
2X2=4
2X3=6
...
9X7=63
9X8=72
9X9=81
```

# for 반복문

## 기본구조
```
for 변수 in 리스트(또는 튜플, 문자열):
    수행할 문장1
    수행할 문장2
    ...
```

In [1]:
numlist = [10,20,30,40,50]

for i in numlist:
    print(i)

10
20
30
40
50

In [2]:
people = [(20,'홍길동'), (40,'이순신'), (60,'황희')]

for (age, name) in people:
    print(age,name, sep="\t")

20	홍길동
40	이순신
60	황희

In [3]:
marks = [90, 25, 67, 45, 80]

number = 0 
for mark in marks: 
    number = number +1 
    if mark >= 60: 
        print("%d번 학생은 합격입니다." % number)
    else: 
        print("%d번 학생은 불합격입니다." % number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [4]:
marks = [90, 25, 67, 45, 80]

number = 0 
for mark in marks: 
    number = number +1 
    if mark < 60: continue 
    print("%d번 학생 축하합니다. 합격입니다. " % number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [5]:
a = range(10)
a

range(0, 10)

In [6]:
a = range(1,10)
a

range(1, 10)

In [7]:
sum = 0
for i in range(1,101):
    sum = sum + i
print(sum)

5050

In [8]:
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
    if marks[number] < 60: continue
    print("%d번 학생 축하합니다. 합격입니다." % (number+1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [9]:
for i in range(2,10): 
    for j in range(1, 10): 
        print(i*j, end=" ")
    print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [10]:
a = [1,2,3,4]
result = []

for num in a:
    result.append(num*3)
print(result)

[3, 6, 9, 12]

```
[표현식 for 항목 in 반복가능객체 if 조건]
```

In [12]:
result = [num*3 for num in a]
print(result)

[3, 6, 9, 12]

# 문제1 
1부터 100까지의 숫자를 for문을 이용하여 출력하시오.


# 문제2
for문을 이용하여 1부터 1000까지의 자연수 중 5의 배수에 해당되는 자연수들의 총합을 구하시오.


# 문제3
for문을 이용하여 A 학급의 평균 점수를 구해 보자.
```
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
```

# 문제4
다음은 학생들의 혈액형(A, B, AB, O)에 대한 데이터이다.
```
['A', 'B', 'A', 'O', 'AB', 'AB', 'O', 'A', 'B', 'O', 'B', 'AB']
```
for 문을 이용하여 각 혈액형 별 학생수의 합계를 구하시오.